/*-----------------------------
    基準
-------------------------------*/

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


/*-----------------------------
    ナビゲーションバー類
-------------------------------*/

    h1 {
        font-size: 40px;
    }

    .headerMywvLogo{
        color: #464646;
        font-weight: bold; 
        font-size: 24px;
    }
    
    .nav-item-Mywv a{
        color: #464646;
        font-weight: bold; 
    }
    
    /*
    .dropdown-menu{
        background-color: #C4C4C4;
    }
    */
    
    .nav-item-Mywv-drop a{
        color: #464646;
    }
        
    .navbar-toggler{
        border-color: #000;
    }
    
    .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    
    .mywvNavbar{
        border-bottom: 1px solid #464646;
    }
    
    .dropdown-menu{
        border-radius: 0;
    }
    
    .dropdown-toggle::after{
        display: none;
    }
    
    
/*-----------------------------
    ユーザー詳細ページ
-------------------------------*/
    
    
    .userdetails_container_inner{

    }
    
    .artistList{
        margin-top: 20px;
    }
    
    .artistPanel{
        width:180px;
        height:180px;
        background-color: #C4C4C4;
        border-radius: 10px;
        margin: 0px 10px;
        overflow: hidden;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    
    .artistList__row__items p{
        text-align: center;
    }
    
    .artistPanel__add{
        width:180px;
        height:180px;
        border: solid #C4C4C4 2px;
        border-radius: 10px;
        margin: 0px 10px;
        box-sizing: border-box;
        display: flex;
	    align-items: center;
    }
    
    .artistPanel__add p{
        text-align: center;
        color: #C4C4C4;
        font-size: 52px;
        margin: 0 auto;
    }
    
    
/*-----------------------------
    アーティスト詳細ページ
-------------------------------*/
    
    .descriptionArea{
        background-color: #F1F1F1;
        border-radius: 5px;
        padding: 50px 50px;
    }
    
    .artistStyle p{
        font-size: 36px;
    }
    
    .artistDescription p{
        font-size: 16px;
    }
    
    .snsUrl p{
        font-size: 16px;
        margin: 0;
        text-align: center;
    }